.green-square {
    height: 50px;
    width: 50px;
    background-color: green;
    float: left;
}

.green {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: green;
    
}
.yellow {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: yellow;
    top: -35px;
    right: -15px;
}
.red {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: red;
    top: -70px;
    right: -30px;
}
.relative {
    background-color: lightgray;
    width: 250px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.square {
    background-color: black;
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}
