.green-square {
    height: 50px;
    width: 50px;
    background-color: green;
    float: left;
}

.green {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: green;
    
}
.yellow {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: yellow;
    top: -35px;
    right: -15px;
}
.red {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: red;
    top: -70px;
    right: -30px;
}
.relative {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}
.square {
    background-color: blue;
    width: 25px;
    height: 25px;
}
